

<div class="banner-landing">
    <div class="text-center">
        <h2 class="title-landing">
            Probiotics Plus Hcpharma
        </h2>
        <p class="title-landing-sub">Một người bạn đồng hành quan trọng trong việc phục hồi sức khỏe đường ruột</p>
        <span class="title-landing-subline">
            Chìa khóa vàng cho 1 hệ tiêu hóa khỏe mạnh . Men vi sinh đa chủng kết hợp với chất xơ và kẽm sẽ giúp bạn nhẹ nhàng thoát khỏi các vấn đề liên quan đến hệ tiêu hóa !
        </span>
    </div>
    <div class="container overflow-hidden">
        <div class="d-lg-flex">
            <div class="w-55">
                <img src="~/Content/images/landing/banner.png" />
            </div>
            <div class="w-45">
                <form class="support-form landing-form">
                    <p>Đăng ký tư vấn</p>
                    @Html.AntiForgeryToken()
                    <span>
                        Cần thêm thông tin về sản phẩm
                        Hãy để lại SĐT để chúng tôi tư vấn cho bạn
                    </span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Họ và tên" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Số điện thoại" />
                    </div>
                    <div class="text-center">
                        <button class="btn" type="submit">TƯ VẤN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="intro-landing">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="title-section">Probiotics Plus Hcpharma</h2>
                <div class="content-detail">
                    <strong> Nhà sản xuất</strong>: CÔNG TY TNHH MEDISTAR VIỆT NAM
                    <strong>Xuất xứ</strong>: Việt Nam
                    <strong> Quy cách</strong>: Gói: 3g ± 7,5%. Hộp: 30 gói

                    <strong>Mô tả</strong>
                    <p>
                        Các nghiên cứu khoa học đã chỉ ra rằng trong đường ruột người có chứa rất nhiều vi khuẩn có lợi với nhiều chủng loại khác nhau.
                        Các vi khuẩn có lợi này luôn duy trì sự cân bằng để đảm bảo quá trình tiêu hóa của cơ thể, hấp thu chất dinh dưỡng, đào thải cặn
                        bã và ức chế các hại khuẩn gây bệnh ở đường ruột. Probiotics Plus Hcpharma là thực phẩm bảo vệ sức khoẻ. Bổ sung hơn 3 tỷ lợi khuẩn
                        đường ruột, giúp chống các triệu chứng rồi loại tiêu hóa và cân bằng hệ vi sinh đường ruột.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="~/Content/images/landing/intro.png"/>
            </div>
        </div>
    </div>
</div>

<section class="common-diseases">
    <div class="container">
        <div class="section-title">
            Các bệnh thường gặp + dấu hiệu
        </div>
        <div class="sub-title">
            Bất kỳ ở độ tuổi nào chúng ta đều có thể mắc các bệnh liên quan đến đường ruột và nhất là ở trẻ em và mẹ bầu (Các bệnh thường gặp khi bị loạn khuẩn đường ruột)
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="common-diseases__item">
                    <div class="img">

                    </div>
                    <div class="body">
                        <div class="number">
                            01
                        </div>
                        <div class="text">
                            <div class="name">Ảnh hưởng của tiêu chảy</div>
                            <div class="des">
                                Dấu hiệu: Phân lỏng, đi nhiều lần trong ngày, đau bụng, mất nước, sốt.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>